.idea
.vscode
build
node_modules
test/
.clang-format
.travis.yml
appveyor.yml
npm-debug.log
.eslintrc.js
lib/anitomy/.git
lib/anitomy/test/data.json
.gitmodules
.vs/
.prettierrc.json
.github/workflows/nodejs.yml
.eslintrc.json
debug.js
.yarn